@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:ital,wght@0,200;0,400;0,600;1,100;1,200;1,400&display=swap');

*{
    margin: 0; 
    padding: 0; 
}
    
.sidebar {
    background-color: red; 
    width: 15vw; 
    font-family: 'Fira Sans', sans-serif; 
    font-size: medium;
}
.sidebar nav { 
    padding: 42px; 
}
.sidebar nav li { 
    list-style: none; 
    font-size: 30px; 
    padding: 33 px 0;
}
main {
    background-color: yellow; 
    width: 80vw; 
}
.container { 
    display: flex; 
}
